<section class="ezy__signup9 light d-flex">
   <div class="container">
      <div class="row justify-content-between h-100">
         <div class="col-lg-6 py-5">
            <div class="text-center">
               <div class="btn-group ezy__signup9-btn-group p-2">
                  <button type="submit" class="btn btn-light ezy__signup9-btn" routerLink="/login">
                     Log In
                  </button>
                  <button type="submit" class="btn ezy__signup9-btn active" routerLink="/signup">
                     Sign Up
                  </button>
               </div>
            </div>
            <div class="row align-items-center h-100 px-lg-5">
               <div class="col-12">
                  <div class="card ezy__signup9-form-card">
                     <div class="card-body p-md-5">
                        <h2 class="ezy__signup9-heading mb-3">Welcome to RoomieTasks !</h2>

                        <form>
                           <div class="row">
                              <div class="col-lg-6">
                                 <div class="form-group mb-4">
                                    <label for="first-name" class="mb-2">First Name</label>
                                    <input type="text" class="form-control" id="first-name"
                                       placeholder="Your First Name" [(ngModel)]="user.firstName" name="firstName" />
                                 </div>
                              </div>

                              <div class="col-lg-6">
                                 <div class="form-group mb-4">
                                    <label for="last-name" class="mb-2">Last Name</label>
                                    <input type="text" class="form-control" id="last-name" placeholder="Your Last Name"
                                       [(ngModel)]="user.lastName" name="lastName" />
                                 </div>
                              </div>

                              <div class="col-12">
                                 <div class="form-group mb-4">
                                    <label for="email" class="mb-2">Program Information</label>
                                    <div class="input-group">
                                       <select id="inputSchool" class="form-control" [(ngModel)]="user.school"
                                          name="school">
                                          <option value="" disabled selected>
                                             School...
                                          </option>
                                          <option>ESILV</option>
                                          <option>EMLV</option>
                                          <option>IIM</option>
                                       </select>
                                       <select id="inputProgram" class="form-control" [(ngModel)]="user.program"
                                          name="program">
                                          <option value="" disabled selected>
                                             Program...
                                          </option>
                                          <option>Classic</option>
                                          <option>Bachelor</option>
                                          <option>Erasmus</option>
                                          <option>Study Abroad</option>
                                          <option>MSC</option>
                                          <option>MBA</option>
                                       </select>
                                       <select id="inputYear" class="form-control" [(ngModel)]="user.year" name="year">
                                          <option value="" disabled selected>Year...</option>
                                          <option>A1</option>
                                          <option>A2</option>
                                          <option>A3</option>
                                          <option>A4</option>
                                          <option>A5</option>
                                          <option>Alumni</option>
                                       </select>
                                    </div>
                                 </div>
                              </div>

                              <div class="col-12">
                                 <div class="form-group mb-4">
                                    <label for="email" class="mb-2">Email</label>
                                    <input type="email" class="form-control" id="email" placeholder="Your Email Address"
                                       [(ngModel)]="user.email" name="email" />
                                 </div>
                              </div>

                              <div class="col-lg-6">
                                 <div class="form-group mb-4">
                                    <label for="password" class="mb-2">Password</label>
                                    <input type="password" class="form-control" id="password"
                                       placeholder="Enter Password" [(ngModel)]="user.password" name="password" />
                                 </div>
                              </div>
                              <div class="col-lg-6">
                                 <div class="form-group mb-4">
                                    <label for="confirm-password" class="mb-2">Confirm Password</label>
                                    <input type="password" class="form-control" id="confirm-password"
                                       placeholder="Confirm Password" [(ngModel)]="user.confirmPassword"
                                       name="confirmPassword" />
                                 </div>
                              </div>
                           </div>
                           <div class="form-group mb-4">
                              <p>
                                 By signing up you accept:
                                 <a href="#">terms & condition</a>,
                                 <a href="#">privacy policy</a>
                              </p>
                           </div>
                           <button type="submit" (click)="onSignup()" class="btn ezy__signup9-btn-submit w-100">
                              Sign Up
                              <span class="fas fa-arrow-right ms-2 text-white"></span>
                           </button>

                           <div *ngIf="successMessage">
                              <br /><br />
                              <div class="alert alert-success">{{ successMessage }}</div>
                           </div>
                           <div *ngIf="errorMessage">
                              <br /><br />
                              <div class="error alert alert-warning">
                                 {{ errorMessage }}
                              </div>
                           </div>

                           <div class="position-relative ezy__signup9-or-separator">
                              <hr class="my-4 my-md-5" />
                              <span class="px-2">Or</span>
                           </div>
                           <button class="btn btn-secondary ezy__signup9-btn w-100 d-flex align-items-center mb-3"
                              routerLink="/home">
                              <span class="w-100 text-center text-white">Go back to Homepage</span>
                           </button>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-6">
            <div class="ezy__signup9-bg-holder d-none d-lg-block h-100" style="
            background-image: url(LogoPack/RoomieTasks.png);
          "></div>
         </div>
      </div>
   </div>
</section>