<app-navbar />
<section class="ezy__faq4 light">
   <div class="container">
      <div class="row justify-content-center mb-md-4">
         <div class="col-lg-8 col-xl-7 text-center">
            <h2 class="ezy__faq4-heading mb-3">Frequently Asked Questions</h2>
            <p class="ezy__faq4-sub-heading mb-0">
               Take a look and find the right one for you!
            </p>
         </div>
      </div>
      <div class="row justify-content-center">
         <div class="col-md-8">

            <div class="ezy__faq4-item mt-4">
               <a class="btn p-3 p-lg-4 w-100 text-start d-flex justify-content-between align-items-center ezy__faq4-btn-collapse"
                  data-bs-toggle="collapse" href="#ezy-faq4-collapse-1" role="button" aria-expanded="true"
                  aria-controls="ezy-faq4-collapse-1">
                  <span>What is RoomieTasks ?</span>
                  <span class="fas fa-chevron-down"></span>
               </a>
               <div class="collapse show" id="ezy-faq4-collapse-1">
                  <div class="ezy__faq4-content p-3 p-lg-4">
                     <p class="opacity-50 mb-0">
                        Please refer to the "What's RoomieTasks ?" section of this website !
                     </p>
                  </div>
               </div>
            </div>

            <div class="ezy__faq4-item mt-4">
               <a class="btn p-3 p-lg-4 w-100 text-start d-flex justify-content-between align-items-center ezy__faq4-btn-collapse"
                  data-bs-toggle="collapse" href="#ezy-faq4-collapse-7" role="button" aria-expanded="false"
                  aria-controls="ezy-faq4-collapse-7">
                  <span>How did we build this beautiful UI that fast ?</span>
                  <span class="fas fa-chevron-down"></span>
               </a>
               <div class="collapse" id="ezy-faq4-collapse-7">
                  <div class="ezy__faq4-content p-3 p-lg-4">
                     <p class="opacity-50 mb-0">
                        Thanks to some EasyFrontend (easyfrontend.com) free UI templates !
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<app-home-footer />