<section class="ezy__httpcodes15 light">
  <div class="container">
    <div class="row px-3 px-lg-5 align-items-center justify-content-between">
      <div class="col-12 col-lg-5 order-lg-2">
        <img src="LogoPack/RoomieTasks.png" alt=""
          class="ezy__httpcodes15-banner img-fluid mb-5 mb-lg-0" />
      </div>
      <div class="col-12 col-lg-6 text-center text-lg-start">
        <h1 class="ezy__httpcodes15-heading mb-3">Oh no! Error 404</h1>
        <p class="ezy__httpcodes15-sub-heading mb-4">Something went wrong, the page doesn't exist !</p>
        <div class="d-flex justify-content-center justify-content-lg-start">
          <button class="btn btn-primary" routerLink="/home">Return to homepage</button>
        </div>
      </div>
    </div>
  </div>
</section>