.ezy__httpcodes15 {
    /* Bootstrap variables */
    --bs-body-color: #262e3a;
    --bs-body-bg: #fff;
  
    /* easy frontend variables */
    --ezy-theme-color: rgb(13, 110, 253);
    --ezy-theme-color-rgb: 13, 110, 253;
    --ezy-heading-color: #0a58ca;
  
    background-color: var(--bs-body-bg);
    padding: 180px 0;
    display: flex;
    align-items: center;
    z-index: 1;
  }
  
  @media (min-width: 768px) {
    .ezy__httpcodes15 {
      padding: 300px 0;
    }
  }
  
  /* Gray Block Style */
  .gray .ezy__httpcodes15,
  .ezy__httpcodes15.gray {
    /* Bootstrap variables */
    --bs-body-bg: rgb(246, 246, 246);
  }
  
  /* Dark Gray Block Style */
  .dark-gray .ezy__httpcodes15,
  .ezy__httpcodes15.dark-gray {
    /* Bootstrap variables */
    --bs-body-color: rgb(241, 241, 241);
    --bs-body-bg: rgb(30, 39, 53);
  }
  
  /* Dark Block Style */
  .dark .ezy__httpcodes15,
  .ezy__httpcodes15.dark {
    /* Bootstrap variables */
    --bs-body-color: rgb(255, 255, 255);
    --bs-body-bg: rgb(11, 23, 39);
  }
  
  /* heading and sub-heading */
  
  .ezy__httpcodes15-heading {
    font-weight: 700;
    font-size: 32px;
    line-height: 1;
    color: var(--bs-body-color);
  }
  
  .ezy__httpcodes15-sub-heading {
    color: var(--bs-body-color);
    font-size: 18px;
    line-height: 25px;
    opacity: 0.8;
  }
  
  @media (min-width: 991px) {
    .ezy__httpcodes15-heading {
      font-size: 45px;
    }
  
    .ezy__httpcodes15-sub-heading {
      font-size: 20px;
    }
  }
  
  /* banner */
  .ezy__httpcodes15-banner {
    border-radius: 15px;
  }
  
  /* btn */
  .ezy__httpcodes15 .btn-primary {
    background-color: var(--ezy-theme-color);
    border-color: var(--ezy-theme-color);
  }
  
  .ezy__httpcodes15 .btn-primary:hover {
    background-color: rgba(var(--ezy-theme-color-rgb), 0.9);
    border-color: rgba(var(--ezy-theme-color-rgb), 0.9);
  }
  
  .ezy__httpcodes15-btn {
    padding: 10px 25px;
    background-color: transparent;
    color: var(--ezy-theme-color);
    border: 1px solid var(--ezy-theme-color);
  }
  
  .ezy__httpcodes15-btn:hover {
    color: #fff;
    background-color: var(--ezy-theme-color);
    border-color: var(--ezy-theme-color);
  }