.ezy__signin9 {
    /* Bootstrap variables */
    --bs-body-color: #333b7b;
    --bs-body-bg: rgb(255, 255, 255);
  
    /* Easy Frontend variables */
    --ezy-theme-color: rgb(13, 110, 253);
    --ezy-theme-color-rgb: 13, 110, 253;
    --ezy-form-card-bg: #ffffff;
    --ezy-form-card-shadow: none;
    --ezy-btn-group-bg: #f6f8fd;
  
    background-color: var(--bs-body-bg);
    overflow: hidden;
  }
  
  /* Gray Block Style */
  .gray .ezy__signin9,
  .ezy__signin9.gray {
    /* Bootstrap variables */
    --bs-body-bg: rgb(246, 246, 246);
  
    /* Easy Frontend variables */
    --ezy-form-card-bg: #f6f6f6;
    --ezy-form-card-shadow: none;
    --ezy-btn-group-bg: #f3f6ff;
  }
  
  /* Dark Gray Block Style */
  .dark-gray .ezy__signin9,
  .ezy__signin9.dark-gray {
    /* Bootstrap variables */
    --bs-body-color: #ffffff;
    --bs-body-bg: rgb(30, 39, 53);
    --bs-dark-rgb: 255, 255, 255;
  
    /* Easy Frontend variables */
    --ezy-form-card-bg: rgb(30, 39, 53);
    --ezy-form-card-shadow: none;
    --ezy-btn-group-bg: #283648;
  }
  
  /* Dark Block Style */
  .dark .ezy__signin9,
  .ezy__signin9.dark {
    /* Bootstrap variables */
    --bs-body-color: #ffffff;
    --bs-body-bg: rgb(11, 23, 39);
    --bs-dark-rgb: 255, 255, 255;
  
    /* Easy Frontend variables */
    --ezy-form-card-bg: rgb(11, 23, 39);
    --ezy-form-card-shadow: none;
    --ezy-btn-group-bg: #162231;
  }
  
  .ezy__signin9 .container {
    min-height: 100vh;
  }
  
  .ezy__signin9-heading {
    font-weight: bold;
    font-size: 25px;
    line-height: 25px;
    color: var(--bs-body-color);
  }
  
  .ezy__signin9-bg-holder {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 150px;
    width: 100%;
  }
  
  @media (min-width: 991px) {
    .ezy__signin9-bg-holder {
      width: 50vw;
    }
  }
  
  .ezy__signin9-form-card {
    background-color: var(--ezy-form-card-bg);
    border: none;
    box-shadow: var(--ezy-form-card-shadow);
  }
  
  .ezy__signin9-form-card * {
    color: var(--bs-body-color);
  }
  
  .ezy__signin9 .form-control {
    min-height: 48px;
    line-height: 40px;
    border-color: transparent;
    background: rgba(163, 190, 241, 0.14);
    border-radius: 10px;
    color: var(--bs-body-color);
  }
  
  .ezy__signin9 .form-control:focus {
    border-color: var(--ezy-theme-color);
    box-shadow: none;
  }
  
  .ezy__signin9-btn-submit {
    padding: 12px 30px;
    background-color: #333b7b;
    color: #ffffff !important;
  }
  
  .ezy__signin9-btn-submit:hover {
    color: #ffffff;
  }
  
  .ezy__signin9-btn {
    padding: 12px 30px;
  }
  
  .ezy__signin9-btn,
  .ezy__signin9-btn * {
    color: #ffffff;
  }
  
  .ezy__signin9-btn:hover {
    color: #ffffff;
  }
  
  .ezy__signin9-btn-group {
    background-color: var(--ezy-btn-group-bg);
    border-radius: 10px;
  }
  
  .ezy__signin9-btn-group .btn {
    background-color: transparent;
    color: var(--bs-body-color);
    border-radius: 10px !important;
    opacity: 0.6;
  }
  
  .ezy__signin9-btn-group .btn.active {
    background-color: var(--bs-body-bg);
    border-color: var(--bs-body-bg);
    opacity: 1;
  }
  
  .ezy__signin9-or-separator {
    position: relative;
  }
  
  .ezy__signin9-or-separator hr {
    border-color: var(--bs-body-color);
    opacity: 0.15;
  }
  
  .ezy__signin9-or-separator span {
    background-color: var(--ezy-form-card-bg);
    color: var(--bs-body-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    opacity: 0.8;
  }