<header>
  <div class="container">
    <h1 class="logo"></h1>

    <nav>
      <ul>
        <li><a routerLink="/dashboard/home"><i class="fa-solid fa-gauge"></i> Dashboard</a></li>
        <li><a routerLink="/dashboard/calendar"><i class="fa-solid fa-calendar"></i> Calendar</a></li>
        <li><a routerLink="/dashboard/households"><i class="fa-solid fa-house"></i> Households</a></li>
        <li><a routerLink="/dashboard/analytics"><i class="fa-solid fa-chart-pie"></i> Analytics</a></li>
        <li><a routerLink="/dashboard/myProfile"><i class="fa-solid fa-user"></i> My Profile</a></li>
        <ng-container *ngIf="isAdmin">
          <li><a routerLink="/dashboard/admin"><i class="fa-solid fa-lock"></i> Admin</a></li>
        </ng-container>
      </ul>
    </nav>
  </div>
</header>