<app-navbar />
<section class="ezy__richcontents2 light">
   <div class="container">
      <div class="row justify-content-between">
         <div class="col-12 ezy__richcontents2-contents">
            <h1 class="ezy__richcontents2-heading mb-3">Roomie Tasks</h1>
            <p class="ezy__richcontents2-sub-heading pe-3 mb-4">
               Moto: "The app that will make your life easier" (placeholder)
            </p>
            <p style="text-align: justify;">
               Explain here what's the app !
            </p>
         </div>
      </div>
   </div>
</section>

<app-home-footer />