<section class="ezy__numbers12 light">
  <div class="ezy__numbers12-overlay"></div>
  <div class="container">
    <div class="row text-center">
      <div class="col-12 col-md-6 col-lg-3 mt-4">
        <div>
          <h2 class="ezy__numbers12-heading mb-3">4</h2>
          <p class="ezy__numbers12-sub-heading"><em>Dedicated developers</em></p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mt-4">
        <div>
          <h2 class="ezy__numbers12-heading mb-3">4</h2>
          <p class="ezy__numbers12-sub-heading"><em>Years of experience</em></p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mt-4">
        <div>
          <h2 class="ezy__numbers12-heading mb-3">404</h2>
          <p class="ezy__numbers12-sub-heading"><em>Just a beautiful number</em></p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mt-4">
        <div>
          <h2 class="ezy__numbers12-heading mb-3">200</h2>
          <p class="ezy__numbers12-sub-heading"><em>OK</em></p>
        </div>
      </div>
    </div>
  </div>
</section>